@use '../../../styles.scss' as v;


:host {
    display: contents;
}

.items-list-container {
    flex: 1;
    height: calc(100vh - 20px - 60px - 10px);
    background-color: v.$white;
    border-radius: 20px;
}